*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.exe
*.pdb
*.log
*.png

/.vs
/.vscode
/build
/CMakeFiles
/NRC-HPM-Renderer.dir
/x64
/SOURCES
/RelWithDebInfo
/output
/out
/vcpkg_installed
/openvdb-install

CMakeCache.txt
cmake_install.cmake

*.vdb

.ipynb_checkpoints